<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="brand" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Brands</label>
            <tab>catalog</tab>
            <resource>Dmatthew_Brand::config_brand</resource>
            <group id="seo" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search Engine Optimization</label>
                <field id="brand_url_suffix" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand URL Suffix</label>
                    <backend_model>Magento\Catalog\Model\System\Config\Backend\Catalog\Url\Rewrite\Suffix</backend_model>
                    <comment>You need to refresh the cache.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
